.cream {
  color: #ffffff;
}
.stone {
  color: #ec89b4;
}
h1{
    padding: 20px;
}
.h1a{
    text-decoration: none;
}
h2{
    text-align: center;
}
.h2cream{
  color: #ec89b4;
}
.nav-bar{
    background-color: #541100;
    display: flex;
    justify-content: space-between;
}
.nav-bar a {
    text-decoration: none;
    color: #ec89b4;
}
.nav-ul{
    display: flex;
    gap: 20px;
    color: darksalmon;
}
li{
    list-style: none;
}

.about a{
    text-decoration: none;
}

.contact a{
    text-decoration: none;
}

.flavours a{
    text-decoration: none;
}

.homepage a{
    text-decoration: none;
}

.banner{
    background-image: url(https://www.creamstoneconcepts.com/images/banner.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.banner h2{
    color: #541100;
    position: absolute;
    top: 100px;
    left: 330px;
    font-size: 40px;
}

.banner p{
    color: #ffffff;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 50px;
    
} 

.flav{
    display: flex;
    gap: 20px;
}

.dfd{
    background-image: url(./images/dfd.jpeg);
    height: 300px;
    background-size: cover;
    background-position: center;
    width: 33.3%;
    position: relative;
    text-align: center;
    color: #541100;
    font-size: 20px;
    
}
.dfd:hover{
    transform: scale(1.1);
}

.an{
    background-image: url(./images/ad.jpeg);
    height: 300px;
    background-size: cover;
    background-position: center;
    width: 33.3%;
    position: relative;
    text-align: center;
    color: #541100;
    font-size: 20px;
}

.an:hover{
    transform: scale(1.1);
}

.nuo{
    background-image: url(./images/nuo.jpeg);
    height: 300px;
    background-size: cover;
    background-position: center;
    width: 33.3%;
    position: relative;
    text-align: center;
    color: #541100;
    font-size: 20px;
}

.nuo:hover{
    transform: scale(1.1);
}

address{
    padding: 30px;
    animation: move 15s infinite;
}

@keyframes move {
0% {transform: translateX(0);}
100% {transform: 
    translateX(1000px);}    
}