.cream {
  color: #ffffff;
}

.stone {
  color: #ec89b4;
}
h1{
    padding: 20px;
}
h2{
    text-align: center;
}
.h2cream{
  color: #ec89b4;
}
.nav-bar{
    background-color: #541100;
;
    display: flex;
    justify-content: space-between;
}
.nav-ul{
    display: flex;
    gap: 20px;
    color: darksalmon;
}
li{
    list-style: none;
}

.about a{
    text-decoration: none;
}
