header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: brown;
}

header p{
    margin: 0;
}

.header-left{
    display: flex;
    gap: 20px;
}

.header-right{
    display: flex;
    gap: 20px;
}