header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: brown;
}

header p{
    margin: 0;
}

.header-left{
    display: flex;
    gap: 20px;
}

.header-right{
    display: flex;
    gap: 20px;
}

nav img{
    width: 200px;
}

nav{
    display: flex;
    position: relative;
    gap: 20px;
}

nav a{
    position: relative;
    top: 50px;
    left:200px;
    text-decoration-line: none;
}

.ordernow{
    position: relative;
    left:400px;
}